<!DOCTYPE html>
<html>
<head>
	<!-- stylesheets -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/code.css">

	<!-- meta -->
	<title>codesnoop - Real time code collaboration platform</title>

	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
	    
</head>

<body>

	<!-- body html -->
	<div id='wrapper'></div>

		<div id='header'>
			
			<img id="logo-image-header" src="/img/logo.png" />
			<h3 id="company-logo">codesnoop</h3>

			<div id='header-name'>
				<img id='verified-user' src='img/verified.png' />
				<h4 id="header-first"></h4>
				<h4 id="header-last"></h4>
			</div>

		</div> 

		<div id='login-wrapper'>

			<div id="login">

				<a href="https://github.com/joshdickson40/CodeSnoop"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

				<div id="logo">
					<img id="logo-image" src="/img/logo.png" />
				</div>
				
				<p class='login-text'>Username</p>
				<input class='login-input' type='text' placeholder='Sergey Brin' id='username' autofocus />
				<p class='login-text'>Admin Code</p>
				<input class='login-input' type='password' id='adminCode' />

			</div>

		</div>


		<div id="chat">

			<div id='chat-header' class='cf'>
				<img id="chat-logo-image" src="/img/logo.png" />
				<h5>WPI Google Hackathon Chat</h5>
			</div>

			<div id='text-log'></div>

			<div id="text-entry">
				<input type='text' id='chat-message' placeholder="Chat..." />
			</div>
			


		</div>


		<div id='codesnoop-wrapper'>		

			<div id="ace-wrapper">
				<div id='fileName'>
					<h5 class="fileNameText">Code.js on Google Drive</h5>
					<div id="commands">
						<a href="#" id="start-button">Run</a>
						<a href="#" id="stop-button">Stop</a>
					</div>
				</div>
				<div id="editor"></div>
			</div>

			<div id='console-wrapper'>
				<div id='console'></div>
			</div>

		</div> <!-- end codesnoop-wrapper -->

	<div> <!-- end wrapper -->

	<!-- underscore templates -->
	<script type='text/template' id='log-line'>
		<div class='logger-entry cf'>
			<p class="logger-linenumber"><%= lineNumber %></p>
			<p class="logger-log-line"><%= message %></p>
		</div>
	</script>

	<script type='text/template' id='error-line'>
		<div class='logger-entry cf'>
			<p class="logger-linenumber"><%= lineNumber %></p>
			<img class='error-icon' src='img/error-line-icon.png' />
			<p class="logger-log-line error-line-text"><%= message %></p>
		</div>
	</script>

	<script type='text/template' id='chat-entry'>
		<div class='chat-entry'>
			<p class="chat-entry-name"><%= firstName %><span id='strong'> <%= lastName %></span></p>
			<p class="chat-message-text"><%= chatMessage %></p>
		</div>
	</script>

	<script type='text/template' id='user-action'>
		<div class='user-action'>
			<p class="user-action-name"><%= firstName %> <%= lastName %></p>
			<p class="user-action-text"><%= message %></p>
		</div>
	</script>

	<!-- scripts -->
	<script src="js/ace/ace.js" charset="utf-8"></script>
	<script src="js/lib/jquery.js"></script>
	<script src="js/lib/jqueryui.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/socket.io.js"></script>
	<script src="js/models.js"></script>
	<script src="js/code.js"></script>
	<script src="js/views.js"></script>
	<script src="js/nodebindings.js"></script>


</body>

</html>