

/************** Login Pieces ****************/
div#wrapper {
	/*position: relative;*/
}

div#login-wrapper {
	position: absolute;
	background-color: white;
	z-index: 30;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: url(../img/sleddogs.jpg) no-repeat center center fixed; 
  	background-size: cover;
}

div#login {
	width: 390px;
	background-color: #f8f8f8;
	margin: 0 auto;
	margin-top: 360px;
	border-radius: 24px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	box-shadow: 0 0 7px black;
	padding-bottom: 32px;

}

div#logo {
	background-color: #272822;
	border-radius: 24px 24px 0 0;
}

img#logo-image {
	width: 60px;
	padding: 8px 0;
	/*padding-left: 150px;*/
}

.login-text {
	font-size: 15px;
	color: #ccc;
	text-transform: uppercase;
	padding: 15px 0 5px 0;
}

div#codesnoop-wrapper {
	z-index: 1;
}

img#sleddogs {
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0.75;

}

input.login-input {
	background-color: white;
	box-shadow: 0 0 2px #ccc;
	width: 340px;
	border-radius: 12px;
	font-size: 18px;
	height: 36px;
	text-align: center;
}

/************ COMMANDS *****************/
div#commands {
	/*height: 30px;*/
	/*box-shadow: 0 0 4px #333;*/
	/*background-color: #2980b9;*/
	float: right;

	/*background-color: #f5f5f5;*/
}

div.user-action {
	height: 22px;
	/*background-color: white;*/
	font-size: 13px;
	padding: 6px 0 6px 6px;
}

h5.fileNameText {
	float: left;
	display: inline-block;
	float: left;
}

p.user-action-name {
	display: block;
	float: left;
	padding: 4px 10px;
	border-radius: 12px;
	background-color: #3498db;
	font-size: 13px;
	font-weight: 400;
	color: white;
}

p.user-action-text {
	float: left;
	padding-top: 4px;
	padding-left: 7px;
}



/****************** HEADER ******************/
div#header {
	height: 56px;
	background-color: #272822;
	border-bottom: 1px solid #333;
}

img#logo-image-header {
	height: 40px;
	padding-left: 12px;
	padding-top: 7px;
	float: left;
}

h3#company-logo {
	font-family: 'Source Sans Pro', sans-serif;
	color: #e9e9e9;
	font-size: 28px;
	padding: 10px 0 0 8px;
	letter-spacing: -1px;
	float: left;
	font-weight: 300;
}

h4#header-first {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #e9e9e9;
	display: inline-block;
}

h4#header-last {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #e9e9e9;
	display: inline-block;
}

div#header-name {
	float: right;
	padding-top: 16px;
	padding-right: 16px;
}

img#verified-user {
	height: 14px;
	padding-right: 4px;
	/*display: none;*/
}



/***************** chat template *************/
div.chat-entry {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300px;
	width: 312px;
	padding: 4px 0 4px 4px;
	border-bottom: 1px solid #eee;
}

span#strong {
	font-weight: 400px;
}

p.chat-entry-name {
	text-transform: uppercase;
	color: #bbb;
	font-size: 13px;
	padding: 3px 0 5px 0;
}

input#chat-message {
	width: 312px;
	padding-left: 4px;
	height: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 300px;
}


/************* CHAT ***********/

div#chat {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	box-shadow: 0 0 3px #777;
	border-radius: 4px 4px 0 0;
	margin-right: 24px;
}

div#chat h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: white;
	padding-left: 6px;
	padding-top: 7px;

}

div#text-entry {
	width: 320px;
	height: 26px;
	background-color: #f5f5f5;
	z-index: 15;
	border-top: 1px solid #eee;
}

div#text-log {
	height: 500px;
	background-color: white;
	width: 320px;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 8;
}

div#chat-header {
	/*height: 20px;*/
	width: 320px;
	background-color: #16a085;
	border-radius: 4px 4px 0 0;
}

img#chat-logo-image {
	width: 20px;
	padding: 6px 10px 6px 4px;
	float: left;
}

p.chat-message-text {
	padding-left: 5px;
	padding-bottom: 2px;
	font-size: 15px;
	font-weight: 300;
}







/************** EDITOR ***********/

#editor { 
    width: 100%;
    height: 1200px;
}

#fileName {
	height: 30px;
	background-color: #2980b9;
	color: white;
	border-right: 1px solid #ccc;
}

#fileName h5 {
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 10px;
	padding-top: 5px;
	font-weight: 300;
}

#ace-wrapper {
	width: 54%;
	float: left;
}


/************************ CONSOLE **********************/
#console {
	width: 46%;
	height: 1200px;
	position: relative;
	background-color: #e9e9e9;
	float: right;
	font-family: 'Cousine', sans-serif;
	color: #111;
	overflow-y: scroll;
	overflow-x: hidden;
}

.logger-linenumber {
	float: left;
	width: 28px;
	text-align: right;
	padding-right: 8px;
	color: #999;
}

.logger-entry {
	clear: both;
	padding: 2px 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2px;
	/*height: 1px;*/
}

.logger-entry p {
	font-size: 14px;
}

.error-icon {
	height: 13px;
	width: 13px;
	float: left;
	padding-right: 5px;
}

.error-line-text {
	color: red;
}

.logger-log-line {
	float: left;
	max-width: 80%;

}

/******************* CLEAR FIX *******************/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}